<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Medicamente compensate</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Acasa
            </NavLink>
        </div>
        <div class="nav-item px-3" style="color:white;">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Medicamente
            </NavLink>
            @if (expandSubNav)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="PartialCompensatedMedications">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Partial compensate
                        </NavLink>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="FullCompensatedMedications">
                            <span class="oi oi-check" aria-hidden="true"></span> 100% compensate
                        </NavLink>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="CovidMedications">
                            <span class="oi oi-bug" aria-hidden="true"></span> COVID 19
                        </NavLink>
                    </li>
                </ul>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="http://www.cnam.md/index.php?page=313">
                <span class="oi oi-document" aria-hidden="true"></span> Acte normative
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="http://www.cnam.md/index.php?page=280">
                <span class="oi oi-heart" aria-hidden="true"></span> Dispozitive medicale
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> Despre
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
