@page "/medications"
@using CompensatoryMedicines.Services;
@using Microsoft.AspNetCore.Components.Web
@using Domain.Entities;
@using System.Text.Json;
@using System.Globalization;
@inject IMedicationService medicationService

<h1>Lista medicamentelor compensate</h1>

@if (medications == null)
{
    <p>Loading...</p>
}
else if (medications.Count == 0)
{
    <p>No medications found.</p>
}
else
{
    <RadzenGrid TItem="Medication" 
        Data="@medications" 
        PageSize="7" 
        AllowFiltering="true"
        AllowPaging="true"
        AllowSorting="true"
        ShowPagingSummary="true"
        AllowColumnResize="true"
        AllowColumnReorder="true">
        <Columns>
            <RadzenGridColumn TItem="Medication" Property="DenumireComerciala" Title="Denumirea comerciala (DC)" />
            <RadzenGridColumn TItem="Medication" Property="GrupaMaladiilor" Title="Grupa maladiilor" />
            <RadzenGridColumn TItem="Medication" Property="Tara" Title="Tara" />
            <RadzenGridColumn TItem="Medication" Property="FirmaProducatoare" Title="Firma producatoare" />
            <RadzenGridColumn TItem="Medication" Property="CodDCI" Title="Cod DCI" />
            <RadzenGridColumn TItem="Medication" Property="DenumireComunaInternationala" Title="Denumirea Comuna Internationala (DCI)" />
            <RadzenGridColumn TItem="Medication" Property="Doza" Title="Doza" />
            <RadzenGridColumn TItem="Medication" Property="CodDC" Title="Cod DC" />
@*            <RadzenGridColumn TItem="Medication" Property="SumaFixaCompensataCuTVA" Title="Suma fixa compensata per unitate de masura cu TVA" />
            <RadzenGridColumn TItem="Medication" Property="SumaFixaCompensataFaraTVA" Title="Suma fixa compensata per unitate de masura fara TVA" />
            <RadzenGridColumn TItem="Medication" Property="FormaFarmaceutica" Title="Forma farmaceutica" />
            <RadzenGridColumn TItem="Medication" Property="Divizarea" Title="Divizarea" />
            <RadzenGridColumn TItem="Medication" Property="NumarInregistrare" Title="Numar de inregistrare" />
            <RadzenGridColumn TItem="Medication" Property="DataInregistrare" Title="Data inregistrarii" />
            <RadzenGridColumn TItem="Medication" Property="CodATC" Title="Cod ATC" />
            <RadzenGridColumn TItem="Medication" Property="CodMedicament" Title="Cod medicament (Catalogul national de preturi)" />
            <RadzenGridColumn TItem="Medication" Property="DataAprobarePret" Title="Data aprobare pret" />*@
        </Columns>
    </RadzenGrid>
}

@code {
    private List<Medication> medications;

    protected override async Task OnInitializedAsync()
    {
        medications = await medicationService.GetMedicationsAsync();
    }
}