@inherits Microsoft.AspNetCore.Components.ComponentBase
@using CompensatoryMedicines.Services;
@using Domain.Enums;
@using Microsoft.AspNetCore.Components.Web
@using Domain.Entities;
@using System.Text.Json;
@using System.Globalization;

@if (Items == null)
{
    <Spinner />
}
else if (Items.Count == 0)
{
    <p>No medications found.</p>
}
else
{
    <div class="container">
        <RadzenDataGrid TItem="Medication"
                    Data="@Items"
                    PageSize="9"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    ShowPagingSummary="true"
                    AllowColumnResize="true"
                    FilterMode="FilterMode.Advanced"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    FilterPopupRenderMode="PopupRenderMode.OnDemand"
                    AllowColumnPicking="true">

            <Columns>
                <RadzenDataGridColumn TItem="Medication" Property="DenumireComerciala" Title="Denumirea comerciala" Frozen="true" Width="9.37rem" />
                <RadzenDataGridColumn TItem="Medication" Property="FirmaProducatoare" Title="Firma" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="GrupaMaladiilor" Title="Grupa maladiilor" Width="15.625rem" />
                <RadzenDataGridColumn TItem="Medication" Property="Tara" Title="Tara" Width="4.6875rem">
                    <FooterTemplate>
                        Total: <b>@_uniqueTaraCount</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Medication" Property="CodDCI" Title="Cod DCI" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="DenumireComunaInternationala" Title="Denumirea Comuna Internationala" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="Doza" Title="Doza" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="CodDC" Title="Cod DC" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="SumaFixaCompensataCuTVA" Title="Suma compensata per unitate de masura cu TVA" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="SumaFixaCompensataFaraTVA" Title="Suma compensata per unitate de masura fara TVA" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="FormaFarmaceutica" Title="Forma farmaceutica" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="Divizarea" Title="Divizarea" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="NumarInregistrare" Title="Nr de inregistrare" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="DataInregistrare" Title="Data inregistrarii" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="CodATC" Title="Cod ATC" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="CodMedicament" Title="Cod medicament" Width="10rem" />
                <RadzenDataGridColumn TItem="Medication" Property="DataAprobarePret" Title="Data aprobare pret" Width="10rem" />
            </Columns>
        </RadzenDataGrid>
    </div>
}

@code {
    [Parameter]
    public IReadOnlyList<Medication> Items { get; set; }

    private int _uniqueTaraCount;

    protected override void OnParametersSet()
    {
        if (Items != null)
        {
            _uniqueTaraCount = Items.Select(m => m.Tara).Distinct().Count();
        }
    }
}
